
.header {
    margin-left:       10px;      
    font-size:         20px;
    -unity-font-style: bold;
    margin-bottom:     15px;
    
}

.section-container {
    margin-left:       30px;    
}

/*----------------------------------------------- Field Container--------------------------------------------------- */

.field-container {
    flex-direction: row;
    -unity-font-style: normal;
    font-size:  12px;

}

.field-container > Label {
    width: 250px;
}
